<footer style="margin-top: 10px">
    <div class="container-fluid">
		<div class="col-sm-12">
			
            <div class="row">
				<div class="col-sm-12 text-ritgh">
                    <h6>CLIENTES</h6>
                </div>
			</div>
            
            <div class="row">
                <div class="col-sm-1">
                    
                </div>
				<div class="col-sm-2 thumbnail">
                    <a href="" target="_blank"><img src="http://placehold.it/150x50" alt="site" style="width:150px;height:50px" class="img-responsive"></a>
                </div>
                <div class="col-sm-2 thumbnail">
                    <a href="" target="_blank"><img src="http://placehold.it/150x50" alt="site" style="width:150px;height:50px" class="img-responsive"></a>
                </div>
                <div class="col-sm-2 thumbnail">
                    <a href="" target="_blank"><img src="http://placehold.it/150x50" alt="site" style="width:150px;height:50px" class="img-responsive"></a>
                </div>    
			</div>
            
            <hr>
            
            <div class="row">
				<div class="col-sm-4 text-left col-xs-12 text-center">
						<i class="fa fa-phone fa-lg">&nbsp;</i><strong>0800 000 0000</strong><br/>				
				</div>
				<div class="col-sm-4 text-center col-xs-12 text-center">
					<dl>
						<dt>
							<i class="fa fa-envelope fa-lg">&nbsp;</i>contato@contato.com.br
						</dt>						
					</dl>
				</div>	
                <div class="col-sm-4 text-right col-xs-12 text-center">
					<dl>
						<dt>
							<i class="fa fa-whatsapp fa-lg">&nbsp;</i>WhatsApp 9999999<br/>
						<i class="fa fa-whatsapp fa-lg">&nbsp;</i>WhatsApp 9999999<br/>
						</dt>						
					</dl>
				</div>	
			</div>
            
            <div class="row">
				<div class="col-sm-12 text-center">
                    2015
                </div>
			</div>
		</div>
	</div>
</footer>