<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">                 
                <img class="img-responsive" src="http://placehold.it/1500x250" align="center">
            </h2>
            <hr>
        </div>
        
    </div>
</div>
<!-- /.row -->

<!-- Service Paragraphs -->

<div class="row">
    <div class="box">
        <div class="col-md-8">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Produto 1
                </h2>
                <hr>
            </div>

            <p> O empenho em analisar a mobilidade dos capitais internacionais aponta para a melhoria do impacto na agilidade decisória. Por conseguinte, a expansão dos mercados mundiais nos obriga à análise do sistema de participação geral. Assim mesmo, a valorização de fatores subjetivos oferece uma interessante oportunidade para verificação de todos os recursos funcionais envolvidos. </p>
        </div>

        <div class="col-md-4">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    COMPONENTES
                </h2>
                <hr>
            </div>
            <p> O incentivo ao avanço tecnológico, assim como a determinação clara de objetivos é uma das consequências do impacto na agilidade decisória.</p>
            <!-- <a class="btn btn-primary" href="#">Veja mais!</a> -->
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Service images -->

<div class="row">

    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                ACESSÓRIOS ESPECIAIS
            </h2>
            <hr>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Produto 1</h3>

            <p>O incentivo ao avanço tecnológico, assim como a necessidade de renovação processual agrega valor ao estabelecimento do impacto na agilidade decisória.</p>
            <!--<a class="btn btn-link btn-sm pull-right">Mais <i class="fa fa-angle-right"></i></a> -->
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Produto 2</h3>

            <p>O incentivo ao avanço tecnológico, assim como a necessidade de renovação processual agrega valor ao estabelecimento do impacto na agilidade decisória.</p>
            <!--<a class="btn btn-link btn-sm pull-right">Mais <i class="fa fa-angle-right"></i></a> -->
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Produto 3</h3>

            <p>O incentivo ao avanço tecnológico, assim como a necessidade de renovação processual agrega valor ao estabelecimento do impacto na agilidade decisória.</p>
            <a class="btn btn-link btn-sm pull-right">Mais <i class="fa fa-angle-right"></i></a>
        </div>
                       
    </div>
</div>